<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <script src="../public/weather.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/weather.css" > --}}
    
   
    <link rel="stylesheet" href="weather.css">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <h1>{{title}}</h1>
    <h5>{{user}}</h5>
    <form>
        <input type="text" id="place" name="address" placeholder="Enter Location">
        <button id= 'sub-button' onclick="submits(event)" type="submit">search</button>
    </form>
    <p id="output" ></p>
    <script src="weather.js"></script>
</body>
</html>